<div class="editCustomer">

    <form #customerForm="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="table">
            <div>
                <label for="firstName">Prénom</label>
                <span>
                    <input id="firstName" type="text"
                           [(ngModel)]="customerModel.firstName"
                           ngControl="firstName">
                </span>
            </div>
            <div>
                <label for="lastName">Nom</label>
                <span>
                    <input id="lastName" type="text"
                           [(ngModel)]="customerModel.lastName"
                           ngControl="lastName">
                </span>
            </div>
            <div>
                <label for="address1">Adresse 1</label>
                <span>
                    <input id="address1" type="text"
                           [(ngModel)]="customerModel.address1"
                           ngControl="address1">
                </span>
            </div>
            <div>
                <label for="address2">Adresse 2</label>
                <span>
                    <input id="address2" type="text"
                           [(ngModel)]="customerModel.address2"
                           ngControl="address2">
                </span>
            </div>
            <div>
                <label for="zip">Code postal</label>
                <span>
                    <input id="zip" type="text"
                           [(ngModel)]="customerModel.zip"
                           ngControl="zip">
                </span>
            </div>
            <div>
                <label for="city">Localité</label>
                <span>
                    <input id="city" type="text"
                           [(ngModel)]="customerModel.city"
                           ngControl="city">
                </span>
            </div>
            <div>
                <label for="phone1">Téléphone 1</label>
                <span>
                    <input id="phone1" type="text"
                           [(ngModel)]="customerModel.phone1"
                           ngControl="phone1">
                </span>
            </div>
            <div>
                <label for="phone2">Téléphone 2</label>
                <span>
                    <input id="phone2" type="text"
                           [(ngModel)]="customerModel.phone2"
                           ngControl="phone2">
                </span>
            </div>
            <div>
                <label for="email">Adresse e-mail</label>
                <span>
                    <input id="email" type="text"
                           [(ngModel)]="customerModel.email"
                           ngControl="email">
                </span>
            </div>
            <div>
                <label for="notes">Notes</label>
                <span>
                    <textarea id="notes" type="text"
                              rows="3"
                              [(ngModel)]="customerModel.notes"
                              ngControl="notes"></textarea>
                </span>
            </div>

        </div>
        <div class="actions">
            <button type="submit" [disabled]="!customerForm.form.valid">Enregistrer</button>
            <a (click)="onCancelClicked()" class="blueLink">Retour</a>
        </div>
    </form>
</div>