<app-header title="Nouveau compte" inactive="true">
</app-header>
<div class="registerView pageContent">
    <h1 class="pageTitle">Création d'un nouveau compte</h1>

    <form (submit)="doRegister($event)" #registerForm="ngForm">
        <h2>Compagnie</h2>

        <div *ngIf="!companySaved">
            <company-edit-component [company]="company"
                                    (cancelled)="onCancelled()"
                                    (saved)="onCompanySaved($event)">
            </company-edit-component>
        </div>
        <div *ngIf="companySaved">
            {{ company.name[appLanguage.locale] }}
        </div>

        <div *ngIf="companySaved">

            <h2>Employé</h2>

            <div class="table">


                <div>
                    <label for="employeeLanguage">Langue</label>
                <span>
                    <lang-select id="employeeLanguage"
                                 [displayLanguage]="appLanguage"
                                 [selectedLanguage]="editingEmployee.language"
                                 (languageChanged)="editingEmployee.language = $event"></lang-select>
                </span>
                </div>
                <div>
                    <label for="firstName">Prénom</label>
                <span>
                    <input type="text" id="firstName"
                           [(ngModel)]="editingEmployee.firstName"
                           ngControl="firstName" validate-required>
                    <form-message for="firstName" checkErrors="['required']"></form-message>
                </span>
                </div>
                <div>
                    <label for="lastName">Nom</label>
                <span>
                    <input type="text" id="lastName"
                           [(ngModel)]="editingEmployee.lastName"
                           ngControl="lastName" validate-required>
                    <form-message for="lastName" checkErrors="['required']"></form-message>
                </span>
                </div>
            </div>

            <h2>Identifiants</h2>
            <div class="table">
                <div>
                    <label for="login">Login</label>
                <span>
                    <input type="text" id="login"
                           [(ngModel)]="editingEmployee.login"
                           ngControl="login" validate-required>
                    <form-message for="login" checkErrors="['required']"></form-message>
                </span>
                </div>

                <div>
                    <label for="password">Mot de passe</label>
                <span>
                    <input type="text" id="password"
                           [(ngModel)]="password"
                           ngControl="password" validate-required>
                    <form-message for="password" checkErrors="['required', 'passwordTooShort']"></form-message>
                </span>
                </div>
            </div>

            <div class="actions">
                <button type="submit" [disabled]="!registerForm.valid"
                        class="boxedLink">
                    Créer un compte
                </button>
            </div>
        </div>

    </form>
</div>
