@import '../../../../resources/styles/_main';

header {
  .actions {
    .reduction {

      &.editing {
        padding: .1em;
        border: none !important;
        color: white !important;
      }
      &.has-reduction {
        color: green;
      }

      > span:not([hidden]) {
        display: block;
        height: 100%;
      }

      .editDiscount {
        input {
          font-size: 1em;
          width: 3em;
          display: inline-block;
          vertical-align: middle;
        }
        .editActions {
          > i {
            &:hover {
              cursor: pointer;
            }
            &.green {
              color: green;
              &:hover {
                color: lighten(green, 30%);
              }
            }
            &.red {
              color: red;
              &:hover {
                color: lighten(red, 30%);
              }
            }
          }
        }
      }

    }
  }
}

