<div class="variant-list-item">
  <cp-loading-content [loading]="loading$ | async">
    <div class="list-item-content">
      <div class="picture">
        <cp-picture [ref]="(variant$ | async)?.mainPictureRef"
        ></cp-picture>
      </div>

      <div class="details-left">
        <div class="ref-line">
          <div class="ref item-ref">
            {{ (variant$ | async)?.variantReference }}
          </div>
        </div>
        <div class="attributes">
          <cp-attribute-values [valueRefs]="(variant$ | async)?.attributeValueRefs"
          ></cp-attribute-values>
        </div>
      </div>

      <div class="details-right">
        <div class="amount">
          {{ variantAmountVatInclusive$ | async | currency }}
        </div>
      </div>
    </div>
  </cp-loading-content>
</div>
