<div class="sale">
  <div class="icon"  *ngIf="showIcon">
    <i class="fa fa-shopping-cart"></i>
  </div>
  <div class="id"  *ngIf="showId">
    {{ (value$ | async)?.id }}
  </div>

  <div class="content">

    <div class="vatExclusiveAmount"  *ngIf="showVatExclusive">
      <cp-loading-content [loading]="loading$ |async">
        {{ (value$ | async)?.vatExclusiveAmount | currency }}
      </cp-loading-content>
    </div>

    <div class="total"  *ngIf="showTotal">
      <cp-loading-content [loading]="loading$ |async">
        {{ total$ | async | currency }}
      </cp-loading-content>
    </div>

    <div class="reference"  *ngIf="showReference">
      <cp-loading-content [loading]="loading$ |async">
        {{ (value$ | async)?.reference }}
      </cp-loading-content>
    </div>


    <div class="dateteime" *ngIf="showDateTime">
      <cp-loading-content [loading]="loading$ |async">
        {{ (value$ | async)?.dateTime | date }}
      </cp-loading-content>
    </div>


    <div class="item-count" *ngIf="showItemCount">
      <cp-loading-content [loading]="loadingItemCount$ |async">
        <ng-template [ngIf]="(itemCount$ | async) > 0"
                     [ngIfElse]="emptySaleItemCount">
          <span>{{ itemCount$ | async | number:'.0' }}</span>
          <span>items </span>
        </ng-template>
        <ng-template #emptySaleItemCount>
          <span>Empty</span>
        </ng-template>
      </cp-loading-content>
    </div>
  </div>

</div>
