<div class="balanceCount">
    <div *ngFor="#moneyPile of moneyPiles">
        <moneypile-count [moneyPile]="moneyPile"
                         (changed)="onMoneyPileChanged($event)">
        </moneypile-count>
    </div>
    <div class="totalRow">
            <span class="total" [hidden]="balance == null">
                Total:
            </span>
            <span class="total value">
                <div class="value">
                    <a (click)="startEditTotal()" [hidden]="editingTotal"
                       class="actionLink">
                        {{ balance.balance | currency:'EUR':true:'.2-2' }}
                    </a>
                </div>
                <div class="editAmount" [hidden]="!editingTotal">
                    <input type="number" min="0.01" step="0.01"
                           #total
                           [initialValue]="balance.balance"
                           [validator]="validatePrice"
                           (fastChange)="onTotalChanged($event)"
                           (cancelled)="onTotalCancelled()"
                           class="number"
                           fast-input>
                    <span class="editActions">
                        <i class="fa fa-check green" (click)="total.doValidate()"></i>
                        <i class="fa fa-times red" (click)="total.doCancel()"></i>
                    </span>
                </div>
            </span>
    </div>
    <div class="actions">
        <button class="boxedLink" (click)="onValidateBalanceClicked()">Valider</button>
    </div>
</div>