@import '../../../resources/styles/_main';


.attribute-definition-suggestions {
  position: absolute;
  z-index: 10;
  max-height: 6em;
  width: 14em;
  overflow-y: auto;
  padding: .1em;
  background-color: white;
  border: 1px solid lightgray;
  text-align: left;

  .definition-suggestion {
    display: block;
    padding: .3em .2em;

    &:hover {
      cursor: pointer;
      background-color: $onWhiteHoverColor;
    }

    &:focus {
      background-color: $onWhiteLinkColor;
      color: white;
    }
  }
}
