<div [ngSwitch]="column.name">
    <template [ngSwitchWhen]="'id'">
        <span class="id">
            {{ stock.id }}
        </span>
    </template>
    <template [ngSwitchWhen]="'description' ">
        <span class="description" *ngIf="stock.description != null">
            {{ stock.description[lang.locale] }}
        </span>
    </template>

    <template [ngSwitchWhen]=" 'action_remove' ">
        <span class="action remove">
            <a class="actionIcon "
               (click)="onColumnAction(stock, column, $event)">
                <i class="fa fa-minus red"></i>
            </a>
        </span>
    </template>

</div>