<cp-loading-content [loading]="loading$ |async">
  <div class="item-variant" [ngClass]="layout">

    <div class="main-picture" *ngIf="showMainPicture">
      <div class="variant-picture" *ngIf="(value$ | async)?.mainPictureRef != null; else: itemPicture ">
        <cp-picture [ref]="(value$ | async)?.mainPictureRef"
        >
        </cp-picture>
      </div>
      <ng-template #itemPicture>
        <cp-item [ref]="(value$ | async)?.itemRef"
                 [showMainPicture]="true"
        ></cp-item>
      </ng-template>
    </div>

    <div class="details" [ngClass]="layout">
      <div class="ref item-ref" *ngIf="showReference">
        <cp-item [showReference]="true"
                 [ref]="(value$ | async)?.itemRef"
        ></cp-item>
        <span>{{ (value$ | async)?.variantReference }}</span>
      </div>
      <div class="name" *ngIf="showItemName">
        <cp-item [ref]="(value$ | async)?.itemRef"
                 [showName]="true"
        ></cp-item>
      </div>
    </div>

  </div>

</cp-loading-content>

