<div class="variant-select-list">

  <p-dataView [value]="tableHelper.rows$ | async"
              [layout]="viewLayout"
              [lazy]="true"
              [paginator]="true"
              [first]="tableHelper.paginationFirst$ | async"
              [rows]="tableHelper.paginationRows$ | async"
              (onLazyLoad)="onLazyLoad($event)"
              [totalRecords]="tableHelper.totalCount$ | async"
              [sortField]="tableHelper.paginationSortField$ | async"
              [sortOrder]="tableHelper.paginationSortOrder$ | async"
              [loading]="tableHelper.loading$ | async"
              emptyMessage="No variant found"
  >

    <p-header>
      <p-dropdown [options]="sortOptions"
                  [ngModel]="tableHelper.paginationSortField$ | async"
                  (ngModelChange)="onSortFieldChange($event)"
                  placeholder="Sort By"
      ></p-dropdown>
      <input type="search" pInputText
             placeholder="Filter.."
             [ngModel]="searchQuery$ | async"
             (ngModelChange)="searchQuery$.next($event)"
             hidden>
    </p-header>

    <ng-template let-ref let-i="index" pTemplate="listItem">
      <div class="list-item" (click)="onVariantClick(ref)"
           [tabIndex]="i"
      >
        <cp-variant-select-list-item [ref]="ref"
        ></cp-variant-select-list-item>
      </div>
    </ng-template>

    <ng-template let-ref pTemplate="gridItem">
      <cp-variant-select-grid-item [ref]="ref"
      ></cp-variant-select-grid-item>
    </ng-template>

  </p-dataView>
  <div>variants</div>
  <div>{{tableHelper.rows$ | async }}</div>

</div>
