<div class="sale-filter filter-form" *ngIf="value != null">
  <div class="control">
    <label>Closed</label>
    <p-triStateCheckbox [ngModel]="value.closed"
                        (ngModelChange)="updateValue({closed: $event})"
                        [disabled]="disabled"
    ></p-triStateCheckbox>
  </div>

  <div class="control">
    <label>Customer</label>
    <div>
      <cp-customer-select [ngModel]="value.customerRef"
                          (ngModelChange)="updateValue({customerRef: $event})"
                          [disabled]="disabled"
      ></cp-customer-select>
    </div>
  </div>


  <div class="control">
    <label>From</label>
    {{ value.fromDateTime | json }}
    <cp-date-select [ngModel]="value.fromDateTime"
                    (ngModelChange)="updateValue({fromDateTime: $event})"
                    [disabled]="disabled"
    ></cp-date-select>
  </div>

  <div class="control">
    <label>To</label>
    <cp-date-select [ngModel]="value.toDateTime"
                    (ngModelChange)="updateValue({toDateTime: $event})"
                    [disabled]="disabled"
    ></cp-date-select>
  </div>

</div>
