<div class="sale-filter ui-widget" *ngIf="(valueSource$ | async) != null">
  <div class="tabs">

    <p-tabMenu [model]="openTabsMenuModel"
               [activeItem]="activeOpenTabItem$ | async"
    ></p-tabMenu>
  </div>

  <div class="controls filter-form">

    <div class="control">
      <label>Customer</label>
      <div>
        <cp-customer-select [ngModel]="(valueSource$ | async).customerRef"
                            (ngModelChange)="updateValue({customerRef: $event})"
                            [disabled]="disabled"
        ></cp-customer-select>
      </div>
    </div>


    <div class="control">
      <cp-date-range-select [ngModel]="dateRange$ | async"
                            (ngModelChange)="updateDateRange($event)"
                            [disabled]="disabled"
                            [showSuggestions]="true"
                            [showFreeRange]="true"
      ></cp-date-range-select>
    </div>
  </div>

</div>
