.comptoir-info-page {

  >.form {

    .control {
      display: flex;
      align-items: center;
      margin: 1em;

      >* {
        flex: 1 1 auto;
      }
      >label {
        flex: 0 0 14em;
      }
    }
  }
}
