<div class="item-variant-form form" *ngIf="value != null">

  <div class="control">
    <label>Closed</label>
    <cp-shell-inplace-edit name="closed" #closed
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.closed"
    >
      <ng-template cpInplaceOutput let-editValue="value" let-invalid="invalid">
        <p-inputSwitch [ngModel]="value.closed"
                       (ngModelChange)="updateValue({closed: $event})"
                       [class.ui-state-error]="invalid"
                       autofocus
        ></p-inputSwitch>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>

  <div class="control">
    <label>Customer</label>
    <cp-shell-inplace-edit name="customer" #customer
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.customerRef"
    >
    </cp-shell-inplace-edit>
  </div>

  <div class="control">
    <label>Date</label>
    <div>
      <div>
      </div>
      <div *ngFor="let error of validationResults?.errors?.dateTime"
           class="validation-error">{{error}}</div>
    </div>
  </div>

  <div class="control">
    <label>Invoice</label>
    <div>
      <div>

      </div>
      <div *ngFor="let error of validationResults?.errors?.invoiceRef"
           class="validation-error">{{error}}</div>
    </div>
  </div>

  <div class="control">
    <label>Reference</label>
    <cp-shell-inplace-edit name="reference" #inplace
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.reference"
                           [ngModel]="value.reference"
                           (ngModelChange)="updateValue({reference: $event})"
    >
      <ng-template cpInplaceOutput let-editValue="value" let-invalid="invalid">
        <input type="text" pInputText [ngModel]="inplace.value"
               [readOnly]="true"
               [class.ui-state-error]="invalid">
      </ng-template>
      <ng-template cpInplaceInput let-editValue="value" let-invalid="invalid">
        <input type="text" pInputText [(ngModel)]="inplace.editValue"
               autofocus
               [class.ui-state-error]="invalid">
      </ng-template>
    </cp-shell-inplace-edit>

  </div>

</div>
