<div *ngIf="row != null && column != null"
     [ngSwitch]="column.value"
     [ngClass]="column.value"
>
  <ng-container *ngSwitchCase="'ID'">
    {{ row.id | json }}
  </ng-container>

  <ng-container *ngSwitchCase="'NAME'">
    {{ row.name }}
  </ng-container>

  <ng-container *ngSwitchCase="'DESCRIPTION'">
    <cp-locale-text [localeTexts]="row.description"
    ></cp-locale-text>
  </ng-container>

  <ng-container *ngSwitchCase="'DEFAULT_CUSTOMER'">
    <cp-customer [ref]="row.defaultCustomerRef"></cp-customer>
  </ng-container>


  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</div>
