<div class="sale-variantt-form form" *ngIf="value != null">

  <div class="control">
    <label>Sale</label>
    <cp-sale [ref]="value.saleRef"
             [showIcon]="true"
             [showId]="true"
             [showDateTime]="true"
    ></cp-sale>
  </div>

  <div class="control">
    <label>Item</label>
    <cp-item-variant [ref]="value.itemVariantRef"
                     [showReference]="true"
                     [showItemName]="true"
    ></cp-item-variant>
  </div>

  <div class="control">
    <label>Stock</label>
    <cp-stock [ref]="value.stockRef"
              [showIcon]="true"
              [showDescription]="true"
    ></cp-stock>
  </div>

  <div class="control">
    <label>Date</label>
    <cp-shell-inplace-edit name="dateTime" #dateTime
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.dateTime"
                           [ngModel]="value.dateTime"
                           (ngModelChange)="updateValue({dateTime: $event})"
    >
      <ng-template cpInplaceInput let-invalid="invalid">
        <cp-date-select [(ngModel)]="dateTime.editValue"
                        (ngModelChange)="updateValue({dateTime: $event})"
                        [disabled]="disabled"
                        [showTime]="true"
        ></cp-date-select>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>


  <div class="control">
    <label>Include customer loyalty</label>
    <cp-shell-inplace-edit name="includeCustomerLoyalty" #includeCustomerLoyalty
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.includeCustomerLoyalty"
                           [ngModel]="value.includeCustomerLoyalty"
                           (ngModelChange)="updateValue({includeCustomerLoyalty: $event})"
    >
      <ng-template cpInplaceInput let-invalid="invalid">
        <p-inputSwitch [(ngModel)]="includeCustomerLoyalty.editValue"
                       (ngModelChange)="updateValue({includeCustomerLoyalty: $event})"
                       [disabled]="disabled"
        ></p-inputSwitch>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>


  <div class="control">
    <label>Include customer discount</label>
    <cp-shell-inplace-edit name="includeCustomerDiscount" #includeCustomerDiscount
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.includeCustomerDiscount"
                           [ngModel]="value.includeCustomerDiscount"
                           (ngModelChange)="updateValue({includeCustomerDiscount: $event})"
    >
      <ng-template cpInplaceInput let-invalid="invalid">
        <p-inputSwitch [(ngModel)]="includeCustomerLoyalty.editValue"
                       (ngModelChange)="updateValue({includeCustomerDiscount: $event})"
                       [disabled]="disabled"
        ></p-inputSwitch>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>

  <div class="control">
    <label>Comment</label>
    <cp-shell-inplace-edit name="comment" #comment
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.comment"
                           [ngModel]="value.comment"
                           (ngModelChange)="updateValue({comment: $event})"
    >
      <ng-template cpInplaceOutput let-invalid="invalid">
        <cp-locale-text [localeTexts]="value.comment"
        ></cp-locale-text>
      </ng-template>
      <ng-template cpInplaceInput let-invalid="invalid">
        <cp-locale-text-edit [(ngModel)]="comment.editValue"
                             [invalid]="invalid"
                             #commentTexts
        >
          <ng-template cpLocalizedEdit>
            <input type="text" pInputText
                   [(ngModel)]="commentTexts.editingTextValue">
          </ng-template>
        </cp-locale-text-edit>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>


</div>
