
$cpPrimaryColor: #1c7a30;
$cpPrimaryForegroundColor: #551410;
$cpPrimaryHoverColor: #28b045;
$cpPrimaryHoverForegroundColor: #8e211b;

$cpSecondaryColor: #399184;
$cpSecondaryForegroundColor: #2e0f55;


