@import '../../../resources/styles/_forms';
@import '../../../resources/styles/_main';

.stock-edit {

  .backLink {
    float: right;
  }

  .row {
    display: table;
    width: 100%;
    > *:not([hidden]) {
      display: table-cell;
      vertical-align: top;
      width: 49%;
      padding: .3em 1em;
    }
    .stock-edit-panel {
    }
    .item-select-panel {
      text-align: left;
    }
    .item-stock-panel {
      .header {
        background-color: lightgray;
        text-align: left;
        padding: .5em;
        margin: .5em;

        >span {
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2em;

          &.stock {
            float: right;
            font-weight: bold;
          }

          &.ref {
            font-size: 0;
            text-align: left;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
