<div class="saleView">
    <div class="header" [hidden]="saleClosed || posList?.size <= 1">
        <span>Point de vente :</span>
        <span>
            <pos-select (posChanged)="onPosChanged($event)"
                        [editable]="!saleClosed"></pos-select>
        </span>
    </div>
    <div class="wrapper">
        <div class="saleViewContainer"
             [class.slide-left]="payStep"
             [class.no-anim]="newSale">
            <div class="sale-item-list">
                <div>
                    <itemvariant-select
                            id="saleItemList"
                            (variantSelected)="onItemClicked($event)">
                    </itemvariant-select>
                </div>
            </div>
            <div class="commandView">
                <div>
                    <command-view id="saleCommandView" *ngIf="activeSaleService.sale != null"
                                  (saleEmptied)="onSaleEmptied()"
                                  (validateChanged)="onValidateChanged($event)"
                                  [newSale]="newSale"
                                  [validated]="payStep"
                                  [noInput]="saleClosed"></command-view>
                </div>
            </div>
            <div class="payView">
                <div>
                    <pay-view id="salePayView" *ngIf="activeSaleService.sale != null"
                              [saleTotal]="activeSaleService.getSaleTotalAmount()"
                              [paidAmount]="activeSaleService.paidAmount"
                              [sale]="activeSaleService.sale"
                              [accountingEntries]="activeSaleService.accountingEntriesResult.list"
                              (paid)="onCommandPaid()"
                              (details)="onSaleDetails()"
                              [stockList]="stockResult.list"
                              [noInput]="saleClosed"></pay-view>
                </div>
            </div>
        </div>
    </div>
</div>