<cp-shell-content-page>
  <ng-template cpContentBody>
    <cp-shell-table [columns]="columns"
                    [loading]="salesTableHelper.loading$ | async"
                    [rows]="salesTableHelper.rows$ | async"
                    [totalRecords]="salesTableHelper.totalCount$ | async"
                    [pagination]="salesTableHelper.pagination$ | async"
                    (paginationChange)="salesTableHelper.setPagination($event)"
                    [selection]="selectedSales$ | async"
                    (selectionChange)="onSelectionChange$($event)"
                    (rowClick)="onRowSelect($event)"
    >
      <ng-template cpFilterContent>
        <cp-sale-filter [ngModel]="salesTableHelper.filter$ | async"
                        (ngModelChange)="onFilterChange($event)"
                        name="filter"
        ></cp-sale-filter>
        <p-splitButton *ngIf="(selectionMenu$ | async)?.length > 0"
                       [label]="(selectionLabel$ | async)"
                       icon="pi pi-check"
                       [model]="(selectionMenu$ | async)"></p-splitButton>

      </ng-template>
      <ng-template cpShellColumn let-row="row" let-column="column">
        <cp-sale-column [column]="column"
                        [row]="row"
        ></cp-sale-column>
      </ng-template>
    </cp-shell-table>
  </ng-template>
</cp-shell-content-page>
