@import '../../../styles/_list';

.listPage {
  margin-right: 1em;
}

.topActions {
  >div {
    display: inline-block;
    margin: 0 .5em;
  }
}

.total-payed {
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
  padding: .2em;
}