<div class="sale-select-list">

  <p-dataView [value]="tableHelper.rows$ | async"
              [layout]="viewLayout"
              [lazy]="true"
              [paginator]="true"
              [first]="tableHelper.paginationFirst$ | async"
              [rows]="tableHelper.paginationRows$ | async"
              (onLazyLoad)="onLazyLoad($event)"
              [totalRecords]="tableHelper.totalCount$ | async"
              [sortField]="tableHelper.paginationSortField$ | async"
              [sortOrder]="tableHelper.paginationSortOrder$ | async"
              [loading]="tableHelper.loading$ | async"
              emptyMessage="No sale found"
  >


    <ng-template let-ref let-i="index" pTemplate="listItem">
      <div class="list-item" (click)="onSaleClick(ref)"
           [tabIndex]="i"
      >
        <cp-sale-select-list-item [ref]="ref"
        ></cp-sale-select-list-item>
      </div>
    </ng-template>

    <ng-template let-ref pTemplate="gridItem">
      <cp-sale-select-grid-item [ref]="ref"
      ></cp-sale-select-grid-item>
    </ng-template>

  </p-dataView>
</div>
