<div class="company-form form" *ngIf="value != null">


  <div class="control">
    <label>Name</label>
    <cp-shell-inplace-edit name="name" #name
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.name"
                           [ngModel]="value.name"
                           (ngModelChange)="updateValue({name: $event})"
    >
      <ng-template cpInplaceOutput let-invalid="invalid">
        <cp-locale-text [localeTexts]="value.name">
        </cp-locale-text>
      </ng-template>
      <ng-template cpInplaceInput let-invalid="invalid">
        <cp-locale-text-edit name="nameTexts" #nameTexts
                             [(ngModel)]="name.editValue"
        >
          <ng-template cpLocalizedEdit>
            <input type="text" pInputText [(ngModel)]="nameTexts.editingTextValue"
                   name="nameTextsInput"
                   placeholder="Company name"
            >
          </ng-template>
        </cp-locale-text-edit>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>


  <div class="control">
    <label>Description</label>
    <cp-shell-inplace-edit name="description" #description
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.description"
                           [ngModel]="value.description"
                           (ngModelChange)="updateValue({description: $event})"
    >
      <ng-template cpInplaceOutput let-invalid="invalid">
        <cp-locale-text [localeTexts]="value.description">
        </cp-locale-text>
      </ng-template>
      <ng-template cpInplaceInput let-invalid="invalid">
        <cp-locale-text-edit name="descriptionTexts" #descriptionTexts
                             [(ngModel)]="description.editValue"
        >
          <ng-template cpLocalizedEdit>
            <input type="text" pInputText [(ngModel)]="descriptionTexts.editingTextValue"
                   name="descriptionTextsInput"
                   placeholder="Company description"
            >
          </ng-template>
        </cp-locale-text-edit>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>


  <div class="control">
    <label>Country</label>
    <cp-shell-inplace-edit [errors]="validationResults?.errors?.countryRef"
    >
      <ng-template cpInplaceOutput let-invalid="invalid">
        <cp-country-select name="countryRef" #countryRef
                           [disabled]="disabled"
                           [ngModel]="value.countryRef"
                           (ngModelChange)="updateValue({countryRef: $event})"
        ></cp-country-select>
      </ng-template>
    </cp-shell-inplace-edit>

  </div>

  <div class="control">
    <label>Customer loyalty rate</label>
    <cp-shell-inplace-edit name="customerLoyaltyRate" #customerLoyaltyRate
                           [ngModel]="value.customerLoyaltyRate"
                           (ngModelChange)="updateValue({customerLoyaltyRate: $event})"
                           [disabled]="disabled"
                           [errors]="validationResults?.errors?.customerLoyaltyRate"
    >
      <ng-template cpInplaceOutput let-invalid="invalid">
        {{ value.customerLoyaltyRate | percent }}
      </ng-template>
      <ng-template cpInplaceInput>
        <cp-percent-input [(ngModel)]="customerLoyaltyRate.editValue"
        ></cp-percent-input>
      </ng-template>
    </cp-shell-inplace-edit>
  </div>

</div>
