<div class="sale-list-item">
  <cp-loading-content [loading]="loading$ | async">
    <div class="list-item-content">

      <div class="icon">
        <i class="fa fa-shopping-basket"></i>
      </div>

      <div class="right-content">
        <div class="top">
          <div class="id">
            {{ (sale$ | async)?.id }}
          </div>
          <div class="amount">
            {{ (sale$ | async)?.vatExclusiveAmount | currency }}
          </div>
        </div>

        <div class="bottom">
          <div class="date">
            {{ (sale$ | async)?.dateTime | date:'short' }}
          </div>

          <div class="customer">
            <cp-customer [ref]="(sale$ | async)?.customerRef">
            </cp-customer>
          </div>
        </div>

      </div>

    </div>
  </cp-loading-content>
</div>
