<div class="sale-list-item">
  <cp-loading-content [loading]="loading$ | async">
    <div class="list-item-content">

      <div class="icon">
        <i class="fa fa-shopping-basket"></i>
      </div>

      <div class="right-content">
        <div class="top">
          <div class="id">
            <cp-sale [ref]="refSource$ | async"
                     [showId]="true"></cp-sale>
          </div>
          <div class="amount">
            <cp-sale [ref]="refSource$ | async"
                     [showTotal]="true"></cp-sale>
          </div>
        </div>

        <div class="bottom">
          <div class="items">
            <cp-sale [ref]="refSource$ | async"
                     [showItemCount]="true"></cp-sale>
          </div>
          <i class="fa fa-dot-circle-o"></i>
          <div class="date">
            <cp-sale [ref]="refSource$ | async"
                     [showDateTime]="true"></cp-sale>
          </div>
          <i class="fa fa-dot-circle-o"></i>
          <div class="customer">
            <cp-customer [ref]="(sale$ | async)?.customerRef">
            </cp-customer>
          </div>

        </div>

      </div>

    </div>
  </cp-loading-content>
</div>
