<div *ngIf="variantWithPrice != null && column != null"
     [ngSwitch]="column.value"
     [ngClass]="column.value"
>
  <ng-container *ngSwitchCase="'ID'">
    {{ variantWithPrice.variantSale.id | json }}
  </ng-container>


  <ng-container *ngSwitchCase="'SALE'">
    sale
  </ng-container>


  <ng-container *ngSwitchCase="'STOCK'">
    stock
  </ng-container>


  <ng-container *ngSwitchCase="'COMMENT'">
    <cp-locale-text [localeTexts]="variantWithPrice.variantSale.comment"
    ></cp-locale-text>
  </ng-container>


  <ng-container *ngSwitchCase="'DATETIME'">
    {{ variantWithPrice.variantSale.dateTime | date }}
  </ng-container>


  <ng-container *ngSwitchCase="'DISCOUNT_RATIO'">
    {{ variantWithPrice.price.discountRatio | percent }}
  </ng-container>

  <ng-container *ngSwitchCase="'INCLUDE_CUSTOMER_LOYALTY'">
    <i class="fa fa-check-circle" *ngIf="variantWithPrice.variantSale.includeCustomerLoyalty"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'ITEM_VARIANT'">
    <cp-item-variant [ref]="variantWithPrice.variantSale.itemVariantRef"
                     [showItemName]="true"
    ></cp-item-variant>
  </ng-container>

  <ng-container *ngSwitchCase="'QUANTITY'">
    {{ variantWithPrice.price.quantity | number }}
  </ng-container>

  <ng-container *ngSwitchCase="'TOTAL_VAT_INCLUSIVE'">
    {{ variantWithPrice.price.totalVatInclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_EXCLUSIVE'">
    {{ variantWithPrice.price.totalVatExclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'UNIT_VAT_EXCLUSIVE'">
    {{ variantWithPrice.price.unitPriceVatExclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_RATE'">
    {{ variantWithPrice.price.vatRate | currency }}
  </ng-container>


  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</div>
