<div *ngIf="row != null && column != null"
     [ngSwitch]="column.value"
     [ngClass]="column.value"
>
  <ng-container *ngSwitchCase="'ID'">
    {{ row.id | json }}
  </ng-container>


  <ng-container *ngSwitchCase="'SALE'">
    sale
  </ng-container>


  <ng-container *ngSwitchCase="'STOCK'">
    stock
  </ng-container>


  <ng-container *ngSwitchCase="'COMMENT'">
    <cp-locale-text [localeTexts]="row.comment"
    ></cp-locale-text>
  </ng-container>


  <ng-container *ngSwitchCase="'DATETIME'">
    {{ row.dateTime | date }}
  </ng-container>


  <ng-container *ngSwitchCase="'DISCOUNT_RATIO'">
    {{ row.discountRatio | percent }}
  </ng-container>

  <ng-container *ngSwitchCase="'INCLUDE_CUSTOMER_LOYALTY'">
    <i class="fa fa-check-circle" *ngIf="row.includeCustomerLoyalty"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'ITEM_VARIANT'">
    <cp-item-variant [ref]="row.itemVariantRef"
    ></cp-item-variant>
  </ng-container>

  <ng-container *ngSwitchCase="'QUANTITY'">
    {{ row.quantity | number }}
  </ng-container>

  <ng-container *ngSwitchCase="'TOTAL'">
    {{ row.total | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_EXCLUSIVE'">
    {{ row.vatExclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_RATE'">
    {{ row.vatRate | percent }}
  </ng-container>


  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</div>
