<div class="item-list-item">
  <cp-loading-content [loading]="loading$ | async">
    <div class="list-item-content">
      <div class="picture">
        <cp-picture [ref]="(item$ | async)?.mainPictureRef"
        ></cp-picture>
      </div>

      <div class="details-left">
        <div class="ref-line">
          <div class="ref item-ref">
            <cp-item [ref]="{id: (item$ | async)?.id}"
                     *ngIf="(item$ | async)?.id != null"
                     [showReference]="true"
            ></cp-item>
          </div>
          <div class="multiple-sale" *ngIf="(item$ | async)?.multipleSale">
            <i class="fa fa-sitemap"></i>
          </div>
        </div>
        <div class="name">
          <cp-locale-text [localeTexts]="(item$ | async)?.name"
          ></cp-locale-text>
        </div>
      </div>

      <div class="details-right">
        <div class="price">
          {{ itemTotal$ | async | currency }}
        </div>
        <div class="details" [hidden]="(item$ | async) == null">
          <div class="vat-exclusive">
            <span>{{ (item$ | async)?.vatExclusive | currency }}</span>
            <span>vat excl.</span>
          </div>
          <div class="vat">
            <span>+</span>
            <span>{{ (item$ | async)?.vatRate | percent}}</span>
            <span>vat</span>
          </div>
        </div>
      </div>
    </div>
  </cp-loading-content>
</div>
