<span class="customer-select-input" (focusout)="onFocusOut($event)"
    [hidden]="!editable">
    <div>
        <input #customerInput
               type="text"
               [(ngModel)]="customerText"
               (focus)="onFocus($event)"
               placeholder="Nom du client"
               select-on-focus
               autocomplete="off">
    </div>
    <div class="suggestions"
         #suggestionsDiv
         [hidden]="searchResult.count < 1 || suggestionsHidden">
        <div class="customer-suggestion"
             *ngFor="#customer of searchResult.list"
             focusable="true"
             (focus)="onCustomerFocused(customer)"
             (keyup)="onSuggestionsKeyUp($event)"
             (click)="onCustomerSelected(customer)">
            <span [hidden]="customer.lastName == null">
                {{ customer.lastName }}
            </span>
            <span [hidden]="customer.firstName == null">
                {{ customer.firstName }}
            </span>
        </div>
    </div>
</span>
<span [hidden]="editable">
    <span *ngIf="selectedCustomer != null">
        <span [hidden]="selectedCustomer.lastName == null">
            {{ selectedCustomer.lastName }}
        </span>
        <span [hidden]="selectedCustomer.firstName == null">
            {{ selectedCustomer.firstName }}
        </span>
    </span>
    <span *ngIf="selectedCustomer == null">
        Aucun client
    </span>
</span>