<cp-shell-content-page>
  <ng-template cpContentBody>
    <cp-shell-table [columns]="columns"
                    [loading]="itemTableHelper.loading$ | async"
                    [rows]="itemTableHelper.rows$ | async"
                    [totalRecords]="itemTableHelper.totalCount$ | async"
                    [pagination]="itemTableHelper.pagination$ | async"
                    (paginationChange)="itemTableHelper.setPagination($event)"
                    [(selection)]="selecteditem"
                    (rowClick)="onRowSelect($event)"
    >
      <ng-template cpShellColumn let-row="row" let-column="column">
        <cp-item-column [column]="column"
                        [row]="row"
        ></cp-item-column>
      </ng-template>
    </cp-shell-table>
  </ng-template>
</cp-shell-content-page>
