@import '../../../resources/styles/_list';

.listPage {
  margin-right: 1em;
}

.topActions {
  margin-bottom: .5em;

  >div {
    display: inline-block;
    margin: 0 .5em;
  }
  label {
    font-weight: bold;
  }
}

.total-payed {
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
  padding: .2em;
}