.active-sale {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: .5em;
  margin-bottom: 1em;

  &.loading {
    opacity: .3;
  }

  >*{
    flex: 1 1 auto;
  }
  >.menu {
    flex: 0 0 10em;

    >.sale {
      font-size: 1.3em;
    }
    .date {
      font-size: .8em;
    }
  }
  >.actions {
    flex: 0 0 auto;
    [hidden] {
      display: none;
    }
    >* {
      display: block;
      margin: .2em;
    }
  }
  >.secondary-actions {
    flex: 0 0 auto;
    [hidden] {
      display: none;
    }
  }
}
