<div class="active-sale ui-widget">

  <div class="menu">
    <div class="sale">
      <cp-shell-inplace-edit name="sale" #sale
                             [ngModel]="saleRef$ | async"
                             (ngModelChange)="onSaleChanged($event)"
      >
        <ng-template cpInplaceOutput>
          <div *ngIf="(sale$ | async)?.id == null; else: definedSale">
            New sale
          </div>
          <ng-template #definedSale>
            Sale {{ (sale$ | async)?.id }}
          </ng-template>
        </ng-template>
        <ng-template cpInplaceInput>
          <cp-active-sale-select [ngModel]="sale.editValue" *ngIf="sale.editing"
                                 (ngModelChange)="sale.editValue=$event;sale.commitEdit()"
          ></cp-active-sale-select>
        </ng-template>
      </cp-shell-inplace-edit>
    </div>

    <div class="date">
      {{ (sale$ | async)?.dateTime | date }}
    </div>
  </div>

  <div class="details">
    <cp-active-sale-details [sale]="sale$ | async"
                            (saleUpdate)="onSaleUpdate($event)"
    ></cp-active-sale-details>
  </div>
</div>
