<div class="active-sale ui-widget">

  <div class="menu">
    <div class="sale">
      <cp-shell-inplace-edit name="sale" #sale
                             [ngModel]="saleRef$ | async"
                             (ngModelChange)="onSaleChanged($event)"
      >
        <ng-template cpInplaceOutput>
            <span *ngIf="(sale$ | async)?.id == null; else: definedSale">
              New sale
            </span>
          <ng-template #definedSale>
            Sale {{ (sale$ | async)?.id }}
          </ng-template>
          <i class="fa fa-caret-down"></i>
        </ng-template>
        <ng-template cpInplaceInput>
          <cp-active-sale-select *ngIf="sale.editing"
                                 (saleSelected)="sale.editValue=$event;sale.commitEdit()"
          ></cp-active-sale-select>
        </ng-template>
      </cp-shell-inplace-edit>
    </div>

    <div class="date">
      {{ (sale$ | async)?.dateTime | date }}
    </div>
  </div>

  <div class="details">
    <cp-active-sale-details [sale]="sale$ | async"
                            [saleTotalPaid]="saleTotalPaid$ | async"
                            [showTotalDetails]="fillRoute"
                            [showPaymentdDetails]="payRoute"
                            (saleUpdate)="onSaleUpdate($event)"
    ></cp-active-sale-details>
  </div>

  <div class="actions">
    <button type="button" pButton
            label="Pay"
            icon="fa fa-money"
            [hidden]="payRoute" w
            [disabled]="(saleRef$ | async)?.id == null"
            (click)="onPayClick()"
    ></button>
    <button type="button" pButton
            label="Fill"
            icon="fa fa-shopping-basket"
            [hidden]="fillRoute"
            (click)="onFillClick()"
    ></button>
    <button type="button" pButton
            label="Close"
            icon="fa fa-check"
            [hidden]="fillRoute"
            [disabled]="(saleRemaining$ | async) > 0"
            (click)="onCloseClick()"
    ></button>
  </div>
</div>
