<div class="active-sale ui-widget"
     [class.loading]="updating$ | async">

  <div class="menu">
    <div class="sale">
      <cp-shell-inplace-edit name="sale" #sale
                             [disabled]="updating$ | async"
                             [ngModel]="saleRef$ | async"
                             (ngModelChange)="onSaleChanged($event)"
      >
        <ng-template cpInplaceOutput>
            <span *ngIf="(sale$ | async)?.id == null; else: definedSale">
              New sale
            </span>
          <ng-template #definedSale>
            Sale {{ (sale$ | async)?.id }}
          </ng-template>
          <i class="fa fa-caret-down"></i>
        </ng-template>
        <ng-template cpInplaceInput>
          <cp-active-sale-select *ngIf="sale.editing"
                                 (saleSelected)="sale.editValue=$event;sale.commitEdit()"
          ></cp-active-sale-select>
        </ng-template>
      </cp-shell-inplace-edit>
    </div>

    <div class="details">
      <div class="items">
        <ng-template [ngIf]="(saleItemsCount$ | async) > 0"
                     [ngIfElse]="emptySaleItemCount">
          <span>{{ saleItemsCount$ | async | number:'.0' }}</span>
          <span>items </span>
        </ng-template>
        <ng-template #emptySaleItemCount>
          <span>Empty</span>
        </ng-template>
      </div>
      <i class="fa fa-dot-circle-o"></i>
      <div class="date">
        {{ (sale$ | async)?.dateTime | date:'short' }}
      </div>

    </div>
  </div>

  <div class="secondary-actions">

    <button type="button" pButton
            label="Fill"
            icon="fa fa-shopping-basket"
            [hidden]="fillRoute"
            (click)="onFillClick()"
    ></button>

    <button type="button" pButton
            icon="fa fa-print"
            title="Print receipt"
            [hidden]="fillRoute"
            [routerLink]="['/sale', (saleRef$ | async)?.id, 'bill']"
            [queryParams]="{triggerPrint: 'true', redirectUrl: getRedirectUrl()}"
    ></button>

  </div>

  <div class="details">
    <cp-active-sale-details [sale]="sale$ | async"
                            [saleTotalPaid]="saleTotalPaid$ | async"
                            [showTotalDetails]="fillRoute"
                            [showPaymentdDetails]="payRoute"
                            (saleUpdate)="onSaleUpdate($event)"
    ></cp-active-sale-details>
  </div>

  <div class="actions">

    <button type="button" pButton
            label="Pay"
            icon="fa fa-money"
            [hidden]="payRoute || (sale$ | async)?.closed"
            [disabled]="(saleRef$ | async)?.id == null"
            (click)="onPayClick()"
    ></button>

    <button type="button" pButton
            label="Close"
            icon="fa fa-check"
            [hidden]="fillRoute"
            (click)="onCloseClick()"
    ></button>
    <button type="button" pButton
            label="Reopen"
            icon="fa fa-shopping-basket"
            [hidden]="(sale$ | async)?.closed !== true"
            (click)="onReopenClick()"
    ></button>

  </div>

</div>

<p-toast position="center" [modal]="true" [baseZIndex]="5000"
         [key]="CLOSE_SALE_CONFIRM_MESSAGE_KEY"
         (onClose)="onCloseConfirmRejected()">
  <ng-template let-message pTemplate="message">
    <div class="confirm-toast-content">
      <header>
        <i class="pi pi-exclamation-triangle"></i>
        <h2>{{message.summary}}</h2>
      </header>
      <div class="message">
        {{ message.detail }}
      </div>
      <div class="actions">
        <button type="button" pButton
                label="Cancel"
                (click)="onCloseConfirmRejected()"
                class="ui-button-secondary"
        ></button>
        <button type="button" pButton
                label="Add"
                (click)="onCloseConfirmed()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-toast>
