<cp-shell-content-page>
  <ng-template cpContentBody>
    <cp-shell-table [columns]="columns"
                    [loading]="customersTableHelper.loading$ | async"
                    [rows]="customersTableHelper.rows$ | async"
                    [totalRecords]="customersTableHelper.totalCount$ | async"
                    [pagination]="customersTableHelper.pagination$ | async"
                    (paginationChange)="customersTableHelper.setPagination($event)"
                    [(selection)]="selectedCustomers"
                    (rowClick)="onRowSelect($event)"
    >
      <ng-template cpShellColumn let-row="row" let-column="column">
        <cp-customer-column [column]="column"
                        [row]="row"
        ></cp-customer-column>
      </ng-template>
    </cp-shell-table>
  </ng-template>
</cp-shell-content-page>
