<div *ngIf="row != null && column != null"
     [ngSwitch]="column.value"
     [ngClass]="column.value"
>
  <ng-container *ngSwitchCase="'ID'">
    {{ row.id | json }}
  </ng-container>

  <ng-container *ngSwitchCase="'CLOSED'">
    <i class="fa fa-check-circle" *ngIf="row.closed"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'CUSTOMER'">
    <cp-customer [ref]="row.customerRef"></cp-customer>
  </ng-container>

  <ng-container *ngSwitchCase="'DATETIME'">
    {{ row.dateTime | date }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_AMOUNT'">
    {{  (row.vatAmount) | currency}}
  </ng-container>


  <ng-container *ngSwitchCase="'VAT_EXLUSIVE_AMOUNT'">
    <cp-sale [ref]="{id: row.id}" [showVatExclusive]="true"></cp-sale>
  </ng-container>

  <ng-container *ngSwitchCase="'TOTAL_AMOUNT'">
    <cp-sale [ref]="{id: row.id}" [showTotal]="true"></cp-sale>
  </ng-container>

  <ng-container *ngSwitchCase="'ITEM_COUNT'">
    <cp-sale [ref]="{id: row.id}" [showItemCount]="true"></cp-sale>
  </ng-container>


  <ng-container *ngSwitchCase="'JUMP_TO_POS'">
    <cp-shell-inplace-edit [forceHoverEffect]="true">
      <ng-template cpInplaceOutput>
        <a [routerLink]="['/comptoir/sale/', row.id]"
        (click)="discardEvent($event)">
          <i class="fa fa-shopping-basket"></i>
        </a>
      </ng-template>
    </cp-shell-inplace-edit>
  </ng-container>


  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</div>
