<div *ngIf="sale != null && column != null && price != null"
     [ngSwitch]="column.value"
     [ngClass]="column.value"
>
  <ng-container *ngSwitchCase="'ID'">
    {{ sale.id | json }}
  </ng-container>

  <ng-container *ngSwitchCase="'CLOSED'">
    <i class="fa fa-check-circle" *ngIf="sale.closed"></i>
  </ng-container>

  <ng-container *ngSwitchCase="'CUSTOMER'">
    <cp-customer [ref]="sale.customerRef"></cp-customer>
  </ng-container>

  <ng-container *ngSwitchCase="'DATETIME'">
    {{ sale.dateTime | date }}
  </ng-container>

  <ng-container *ngSwitchCase="'VAT_AMOUNT'">
    {{  price.vatAmount | currency}}
  </ng-container>


  <ng-container *ngSwitchCase="'VAT_EXLUSIVE_AMOUNT'">
    {{ price.totalPriceVatExclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'TOTAL_AMOUNT'">
    {{ price.totalPriceVatInclusive | currency }}
  </ng-container>

  <ng-container *ngSwitchCase="'ITEM_COUNT'">
    <cp-sale [ref]="{id: sale.id}" [showItemCount]="true"></cp-sale>
  </ng-container>


  <ng-container *ngSwitchCase="'JUMP_TO_POS'">
    <cp-shell-inplace-edit [forceHoverEffect]="true">
      <ng-template cpInplaceOutput>
        <a [routerLink]="['/comptoir/sale/', sale.id]"
           (click)="discardEvent($event)">
          <i class="fa fa-shopping-basket"></i>
        </a>
      </ng-template>
    </cp-shell-inplace-edit>
  </ng-container>


  <ng-container *ngSwitchDefault>
    default
  </ng-container>
</div>
