<div class="sale-pay-route">

  <div class="payment-list">
    <div class="current-transactions">
      <cp-sale-accounting-entries-list [entries]="entries$ | async"
                                       (entryRemoved)="onEntryRemoved($event)"
      ></cp-sale-accounting-entries-list>
    </div>
    <div class="add-payment">
      <cp-sale-transaction-input [posRef]="posRef$ | async"
                                 (transactionAdded)="onTransactionAdded($event)"
      ></cp-sale-transaction-input>
    </div>
  </div>

  <div class="sale-content">
    <cp-sale-item-list
    ></cp-sale-item-list>
  </div>
</div>
