<div class="itemVariantSaleList listPage">
    <table class="dataTable">
        <thead [hidden]="!headersVisible">
            <tr>
                <th *ngFor="#col of columns"
                    [class.right]="col.alignRight"
                    [class.center]="col.alignCenter">
                        <span *ngIf="col.title !== null">
                            {{ col.title.get(language.locale) }}
                        </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#variantSale of itemVariantSaleList"
                [class.selectable]="rowSelectable"
                (click)="onItemVariantSaleClick(variantSale, $event)"
                [attr.focusable]="rowSelectable">
                <td *ngFor="#col of columns"
                    class="{{ col.name }}"
                    [class.right]="col.alignRight"
                    [class.center]="col.alignCenter">
                    <item-variant-sale-column (action)="onColumnAction($event)"
                                              [itemVariantSale]="variantSale"
                                              [column]="col"
                                              [editable]="editable"
                                              [editing]="editingVariantSale == variantSale && (editingColumn == col || col.name == 'actions')"
                                              [editingSubColumn]="editingSubColumn"
                                              [lang]="language">
                    </item-variant-sale-column>
                </td>
            </tr>
        </tbody>
        <tfoot  *ngIf="footerVisible && sale != null && itemVariantSaleList != null" [hidden]="itemVariantSaleList.size == 0">
            <tr [hidden]="sale.discountRatio == null || sale.discountRatio <= 0"
                class="details">
                <th [attr.colspan]="footerTotalColIndex" class="saleFooter reduction">
                    Réduction {{ (sale.discountRatio * 100) | number:'.0' }}%
                </th>
                <th class="saleFooter reduction number">
                    -{{ sale.discountAmount | currency:'EUR':true:'.2-2'}}
                </th>
            </tr>
            <tr class="details">
                <th [attr.colspan]="footerTotalColIndex" class="saleFooter">Total HTVA</th>
                <th class="saleFooter number">{{ sale.vatExclusiveAmount | currency:'EUR':true:'.2-2'}}
                </th>
            </tr>
            <tr class="details">
                <th [attr.colspan]="footerTotalColIndex" class="saleFooter">TVA</th>
                <th class="number saleFooter">{{ sale.vatAmount | currency:'EUR':true:'.2-2'}}</th>
            </tr>

            <tr>
                <th [attr.colspan]="footerTotalColIndex" class="total saleFooter">Total</th>
                <th class="total price number saleFooter">
                    {{ (sale.vatExclusiveAmount + sale.vatAmount) | currency:'EUR':true:'.2-2' }}
                </th>
            </tr>
        </tfoot>
    </table>
</div>
