<div [ngSwitch]="column.name" #colDiv class="column">
    <template [ngSwitchWhen]="'id'">
        <span class="id">
            {{ itemVariantSale.id }}
        </span>
    </template>
    <template [ngSwitchWhen]="'dateTime' ">
        <span class="dateTime">
            {{ itemVariantSale.dateTime | date:'dd/MM/yyyy HH:mm'}}
        </span>
    </template>
    <template [ngSwitchWhen]="'variantName' ">
        <div class="name">
            {{ itemVariantSale.itemVariant.item.name[lang.localr] }}
        </div>
        <div class="description">
            <span class="attributeValue"
                  *ngFor="#attr of itemVariantSale.itemVariant.attributeValues">
                  <span class="def">
                    {{ attr.attributeDefinition.name.get(lang.locale) }}
                </span>
                <span class="value">
                    {{ attr.value.get(lang.locale) }}
                </span>
            </span>
        </div>
    </template>
    <template [ngSwitchWhen]="'variantNameComment' ">
        <div class="name">
            {{ itemVariantSale.itemVariant.item.name[lang.locale] }}
        </div>
        <div class="description">
            <span class="attributeValue"
                  *ngFor="#attr of itemVariantSale.itemVariant.attributeValues">
                  <span class="def">
                    {{ attr.attributeDefinition.name.get(lang.locale) }}
                </span>
                <span class="value">
                    {{ attr.value.get(lang.locale) }}
                </span>
            </span>
        </div>
        <div class="comment"
             [class.unneeded]="!hasComment(itemVariantSale) && !editing"
             [class.nolink]="!editable">
            <span [hidden]="editing">
                <a class="commentLink editing"
                   (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT')"
                   [class.actionLink]="editable">
                    {{ itemVariantSale.comment[lang.locale] }}
                </a>
            </span>
            <span *ngIf="editing">
                 <input [initialValue]="itemVariantSale.comment[lang.locale]"
                        (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                        (cancelled)="onColumnAction(itemVariantSale, column, $event, 'CANCEL')"
                        type="text"
                        size="14" fast-input/>
            </span>
        </div>
    </template>
    <template [ngSwitchWhen]="'comment' ">
        <span class="comment"
              [class.unneeded]="!hasComment(itemVariantSale) && !editing"
              [class.nolink]="!editable">
             <span [hidden]="editing">
                <a class="commentLink"
                   (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT')"
                   [class.actionLink]="editable">
                    {{ itemVariantSale.comment[lang.locale] }}
                </a>
            </span>
            <span *ngIf="editing">
                 <input [initialValue]="itemVariantSale.comment[lang.locale]"
                        (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                        (cancelled)="onColumnAction(itemVariantSale, column, $event, 'CANCEL')"
                        type="text"
                        size="14" fast-input/>
            </span>
        </span>
    </template>

    <template [ngSwitchWhen]="'variantRef' ">
        <span class="ref">
             {{ itemVariantSale.itemVariant.variantReference }}
        </span>
    </template>
    <template [ngSwitchWhen]="'quantity' ">
         <span class="quantity"
               [class.unneeded]="itemVariantSale.quantity <= 1 && !editing"
               [class.nolink]="!editable">
            <span [hidden]="editing">
                  <a class="quantityLink"
                     (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT')"
                     [class.actionLink]="editable">
                      {{ itemVariantSale.quantity}} x
                  </a>
            </span>
            <span *ngIf="editing">
                <input [initialValue]="itemVariantSale.quantity"
                       [validator]="validateQuantity"
                       (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                       (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                       type="number" min="1" step="1"
                       size="4" fast-input>
            </span>
        </span>
    </template>
    <template [ngSwitchWhen]="'quantityPrice' ">
        <span class="quantityPrice"
              [class.unneeded]="itemVariantSale.quantity <= 1 && !editing"
              [class.nolink]="!editable">
            <span class="quantity">
                <span [hidden]="editing">
                      <a class="quantityLink"
                         (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT', 'QUANTITY')"
                         [class.actionLink]="editable">
                          {{ itemVariantSale.quantity}} x
                      </a>
                </span>
                <span *ngIf="editing && editingSubColumn.name == 'quantity'">
                    <input [initialValue]="itemVariantSale.quantity"
                           [validator]="validateQuantity"
                           (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                           (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                           type="number" min="1" step="1"
                           size="4" fast-input>
                </span>
            </span>
            <span class="price">
                <span [hidden]="editing">
                     <a class="priceLink"
                        (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT', 'UNIT_PRICE')"
                        [class.actionLink]="editable">
                        <span class="price">
                            {{ calcPriceVatInclusive(itemVariantSale) | currency:'EUR':true:'.2-2'  }}
                        </span>
                     </a>
                </span>
                <span *ngIf="editing && editingSubColumn.name == 'unitPrice'">
                    <input [initialValue]="(itemVariantSale.vatExclusive * (1 + itemVariantSale.vatRate)) | number:'.2-2'"
                           [validator]="validatePrice"
                           (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                           (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                           type="number" min="0.01" step="0.01"
                           size="6" fast-input> €
                </span>
            </span>
        </span>
    </template>

    <template [ngSwitchWhen]="'unitPrice' ">
        <span class="price">
            <span [hidden]="editing">
                 <a class="priceLink"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT')"
                    [class.actionLink]="editable"
                    [class.nolink]="!editable">
                    <span class="price">
                        {{ calcPriceVatInclusive(itemVariantSale) | currency:'EUR':true:'.2-2'  }}
                    </span>
                 </a>
            </span>
            <span *ngIf="editing">
                <input [initialValue]="(itemVariantSale.vatExclusive * (1 + itemVariantSale.vatRate)) | number:'.2-2'"
                       [validator]="validatePrice"
                       (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                       (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                       type="number" min="0.01" step="0.01"
                       size="6" fast-input> €
            </span>
        </span>
    </template>

    <template [ngSwitchWhen]="'totalPrice' ">
        <span class="totalPrice">
             {{ calcTotalVatInclusive(itemVariantSale) | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]="'discount' ">
        <span class="discount">
            <span [hidden]="editing">
                 <a class="reduction green"
                    [class.unneeded]="itemVariantSale.discountRatio == null || itemVariantSale.discountRatio <= 0"
                    [class.nolink]="!editable"
                    [class.actionLink]="editable"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT')">
                     -{{ ( itemVariantSale.discountRatio * 100) | number:'.0' }}%
                 </a>
            </span>
            <span *ngIf="editing">
                 <input [initialValue]="itemVariantSale.discountRatio * 100"
                        [validator]="validateDiscount"
                        (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                        (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                        type="number" min="1" max="100" step="1"
                        size="2" fast-input/>
            </span>
        </span>
    </template>
    <template [ngSwitchWhen]="'discountTotalPrice' ">
        <span class="discount">
            <span [hidden]="editing">
                 <a class="reduction green"
                    [class.unneeded]="itemVariantSale.discountRatio == null || itemVariantSale.discountRatio <= 0"
                    [class.nolink]="!editable"
                    [class.actionLink]="editable"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'EDIT', 'DISCOUNT')">
                     -{{ ( itemVariantSale.discountRatio * 100) | number:'.0' }}%
                 </a>
            </span>
            <span *ngIf="editing">
                 <input [initialValue]="itemVariantSale.discountRatio * 100"
                        [validator]="validateDiscount"
                        (fastChange)="onColumnAction(itemVariantSale, column, null, 'CONFIRM', $event)"
                        (cancelled)="onColumnAction(itemVariantSale, column, null, 'CANCEL')"
                        type="number" min="1" max="100" step="1"
                        size="2" fast-input/>
            </span>
        </span>
         <span class="totalPrice">
            {{ calcTotalVatInclusive(itemVariantSale) | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]="'vatExclusive' ">
        <span class="vatExclusive">
             {{ itemVariantSale.vatExclusive | currency:'EUR':true:'.2-2' }}
        </span>
    </template>
    <template [ngSwitchWhen]="'vatRate' ">
        <span class="vatRate">
             {{ itemVariantSale.vatRate * 100 | number:'.0' }}%
        </span>
    </template>
    <template [ngSwitchWhen]="'stock' ">
        <span class="stock">
             {{ itemVariantSale.stock.description[lang.locale] }}
        </span>
    </template>
    <template [ngSwitchWhen]="'sale' ">
        <span class="sale">
             #{{ itemVariantSale.sale.id }}
        </span>
    </template>
    <template [ngSwitchWhen]="'actions' ">
        <span class="actions">
            <span [hidden]="editing">
                 <a class="actionIcon remove"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'REMOVE')">
                     <i class="fa fa-minus red"></i>
                 </a>
                 <a class="actionIcon addDiscount"
                    [hidden]="!editable || itemVariantSale.discountRatio > 0"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'ADD_DISCOUNT')">
                     <span class="green" style="font-weight: bold;">%</span>
                 </a>
                 <a class="actionIcon addComment"
                    [hidden]="!editable || hasComment(itemVariantSale)"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'ADD_COMMENT')">
                     <i class="fa fa-comment"></i>
                 </a>
            </span>
            <span [hidden]="!editing">
                 <a class="actionIcon noBlur validate"
                    (click)="onColumnAction(itemVariantSale, column, $event, 'CONFIRM', colDiv)">
                     <i class="fa fa-check green"></i>
                 </a>
                <a class="actionIcon noBlur validate"
                   (click)="onColumnAction(itemVariantSale, column, $event, 'CANCEL')">
                    <i class="fa fa-times red"></i>
                </a>
            </span>
        </span>
    </template>

</div>