<div class="sale-details" *ngIf="sale != null && sale.id != null">

  <div class="details">
    <div class="row">

      <div class="discountRatio" title="Discount">
        <cp-shell-inplace-edit name="discountRatio" #discountRatio
                               [ngModel]="sale.discountRatio"
                               (ngModelChange)="fireChanges({discountRatio: $event})"
        >
          <ng-template cpInplaceOutput>
            <i class="fa fa-sun-o"></i>
            {{ sale.discountRatio | percent }}
            <span *ngIf="sale.discountRatio > 0" class="discount-amount">
              <span>-</span>
              {{ sale.discountAmount | currency }}
            </span>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-percent-input [(ngModel)]="discountRatio.editValue"></cp-percent-input>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>


      <div class="customer" title="Customer">
        <cp-shell-inplace-edit name="customer" #customer
                               [ngModel]="sale.customerRef"
                               (ngModelChange)="fireChanges({customerRef: $event})"
        >
          <ng-template cpInplaceOutput>
            <i class="fa fa-user-o"></i>
            <cp-customer [ref]="sale.customerRef"></cp-customer>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-customer-select [(ngModel)]="customer.editValue"
            ></cp-customer-select>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>


    </div>
    <div class="row">
      <div class="ref" title="Reference">
        <cp-shell-inplace-edit name="reference" #reference
                               [ngModel]="sale.reference"
                               (ngModelChange)="fireChanges({reference: $event})"
        >
          <ng-template cpInplaceOutput>
            <i class="fa fa-hashtag"></i>
            {{ sale.reference }}
          </ng-template>
          <ng-template cpInplaceInput>
            <input type="text" pInputText
                   [(ngModel)]="reference.editValue">
          </ng-template>
        </cp-shell-inplace-edit>
      </div>
    </div>
  </div>

  <div class="total-details" *ngIf="showTotalDetails">
    <div class="vat-exclusive">
      <label>HTVA:</label>
      {{ sale.vatExclusiveAmount | currency }}
    </div>
    <div class="vat">
      <label>TVA:</label>
      {{ sale.vatAmount  |currency }}
    </div>
  </div>
  <div class="payment-details" *ngIf="showPaymentdDetails">
    <div class="total">
      <label>À payer:</label>
      {{ (sale.vatExclusiveAmount + sale.vatAmount) | currency }}
    </div>
    <div class="paid">
      <label>Payé: </label>
      {{ saleTotalPaid | currency }}
    </div>
  </div>
  <div class="grand-total">
    <div *ngIf="!showPaymentdDetails">
      <div class="amount">
        {{ (sale.vatExclusiveAmount + sale.vatAmount) | currency }}
      </div>
    </div>
    <div *ngIf="showPaymentdDetails">
      <div class="amount">
        {{ sale.vatExclusiveAmount + sale.vatAmount - saleTotalPaid | currency }}
      </div>
      <div class="label">
        <span *ngIf="(sale.vatExclusiveAmount + sale.vatAmount - saleTotalPaid) >= 0; else: toReimburseLabel">
          À encaisser
        </span>
        <ng-template #toReimburseLabel>
          À rendre
        </ng-template>
      </div>
    </div>
  </div>
</div>
