<div class="sale-print" *ngIf="(sale$ |async) != null">
  <!--  <div class="actions">-->
  <!--    <button pButton type="button"-->
  <!--            label="Back"-->
  <!--            (click)="onBackClicked($event)"-->
  <!--    ></button>-->
  <!--  </div>-->


  <div class="company">
    <cp-company [ref]="companyRef$ | async"
                [showName]="true"
    ></cp-company>
  </div>

  <div class="sale-header">
    <div class="sale">
      <cp-sale [ref]="refSource$ | async"
               [showId]="true"
      ></cp-sale>
    </div>
    <div class="date">
      {{ (sale$ | async).dateTime | date:'short' }}
    </div>
    <div class="reference">
      {{ (sale$ | async).reference }}
    </div>
  </div>

  <div class="items">
    <div *ngFor="let item of items$ | async" class="item">
      <cp-sale-variant-column [row]="item" [column]="SALE_VARIANTS_COLUMNS.ITEM_VARIANT_COLUMN">
      </cp-sale-variant-column>
      <cp-sale-variant-column [row]="item" [column]="SALE_VARIANTS_COLUMNS.COMMENT_COLUMN">
      </cp-sale-variant-column>

      <div class="amounts">
        <span>{{ item.quantity }}</span>
        <span>x</span>
        <cp-sale-variant-column [row]="item" [column]="SALE_VARIANTS_COLUMNS.VAT_INCLUSIVE_COLUMN">
        </cp-sale-variant-column>
        <div class="discount" *ngIf="item.discountRatio != null && item.discountRatio !== 0">
          - {{ item.discountRatio | percent }}
        </div>
        <div class="vat">
          tva {{ item.vatRate | percent }}
        </div>
      </div>
      <div class="total">
        <cp-sale-variant-column [row]="item" [column]="SALE_VARIANTS_COLUMNS.TOTAL_COLUMN">
        </cp-sale-variant-column>
      </div>
    </div>
  </div>

  <div class="total">
    <div class="total">
      <span>total:</span>
      <cp-sale [ref]="refSource$ | async" [showTotal]="true"></cp-sale>
    </div>
    <div class="vat-exclusive">
      <span>htva:</span>
      <cp-sale [ref]="refSource$ | async" [showVatExclusive]="true"></cp-sale>
    </div>
    <div class="vat">
      <span>tva:</span>
      <cp-sale [ref]="refSource$ | async" [showVat]="true"></cp-sale>
    </div>
  </div>
</div>
