<div class="sale-transaction-input">

  <div class="account-select" [hidden]="selectedAccountRef != null">
    <cp-account-select-list [posRef]="posRef"
                            (accountSelect)="onAccountSelected($event)"
    ></cp-account-select-list>
  </div>

  <div class="amount-input" *ngIf="selectedAccountRef != null">
    <p-panel>
      <p-header>
        <cp-account [ref]="selectedAccountRef"></cp-account>
      </p-header>
      <form class="input-form" (ngSubmit)="onAmountSubmit()" #inputForm="ngForm">
        <cp-shell-inplace-edit name="transaction-amount"
                               [ngModel]="transactionAmount"
                               (ngModelChange)="onAmountSubmit()">
          <ng-template cpInplaceOutput>
            <cp-currency-input name="amount"
                               [(ngModel)]="transactionAmount"
            ></cp-currency-input>
          </ng-template>
        </cp-shell-inplace-edit>

        <div class="actions">
          <input type="submit" hidden>
          <button type="button" pButton
                  label="Back"
                  (click)="onCancelAccountClick()"
                  class="ui-button-secondary"
          ></button>
          <button type="button" pButton
                  label="Add"
                  (click)="onAmountSubmit()"
                  [disabled]="inputForm.invalid"
          ></button>
        </div>
      </form>
    </p-panel>

  </div>
</div>
