/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "assets/styles/default/default.style";

body {
  margin: 0;
  font-size: 16px;
  font-family: SansSerif;

  .non-printable {
    @media print {
      display: none !important;
    }
  }
}
