<span *ngIf="formControl == null">
      <div class="formError"
           [class.fatal]="error"
           [class.info]="!error"
           [hidden]="message == null">
            {{ message }}
      </div>
</span>

<span *ngIf="formControl != null"
      [hidden]="formControl.valid || formControl.pristine ">
      <div class="formError"
           [class.fatal]="error"
           [class.info]="!error"
           [hidden]="getControlErrorMessage() == null">
            {{ getControlErrorMessage() }}
      </div>
</span>
