<div class="shell-inplace-edit"
     [class.editing]="editing"
     [class.active]="outputTemplate != null && (inputTemplate != null || forceHoverEffect) && !disabled"
>
  <div class="inplace-output"
       #outputElement
       (click)="onOutputClick($event)"
       (keydown)="onOutputKeyDown($event)"
       [attr.tabIndex]="inputTemplate != null" role="button"
       [cpFocusFirstInput]="inputTemplate == null && ignoreFocus !== true"
  >
    <ng-template [ngIf]="showEmptyLabel !== true || editValue !== null">
      <ng-container
        *ngTemplateOutlet="outputTemplate || inputTemplate; context: {valid: errors?.length === 0, invalid: errors?.length > 0}"
      >
      </ng-container>
    </ng-template>
    <span *ngIf="showEmptyLabel === true && editValue === null">
      &lt;empty&gt;
    </span>
  </div>

  <div class="errors" *ngIf="errors?.length > 0">
    <div *ngFor="let error of errors">
      {{ error }}
    </div>
  </div>

  <p-overlayPanel #inputOverlay appendTo="body"
                  (onHide)="onOverlayHidden()"
                  *ngIf="inputTemplate != null"
  >
    <div class="inplace-input-content">
      <div class="content" #inputComponent
           (keydown)="onInputKeyDown($event)"
           [cpFocusFirstInput]="inputTemplate != null"
      >
        <ng-container
          *ngTemplateOutlet="inputTemplate;context: {valid: errors?.length === 0,invalid: errors?.length > 0}"
        ></ng-container>
      </div>
      <div class="actions"
      >
        <div class="cancel" (click)="onCancelClick()"
             tabIndex="0" role="button"
        >
          <i class="fa fa-undo"></i>
        </div>
        <div class="nullify" (click)="onNullifyClick()"
             tabIndex="1" role="button" title="Nullify"
        >
          <i class="fa fa-times"></i>
        </div>
        <!--      <div class="submit" (click)="onSubmitClick()">-->
        <!--        <i class="fa fa-check"></i>-->
        <!--      </div>-->
      </div>
    </div>

  </p-overlayPanel>
</div>
