
.list-item-content {
  display: flex;
  align-items: center;

  > .item {
    flex: 1 1 40%;
    padding: .5em;
  }

  > .details {
    flex: 1 1 60%;
    padding: 0 .5em;

    .amounts {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > * {
        flex: 0 0 auto;
        margin: 0 .3em;


        ::ng-deep .inplace-output {
          text-align: right;

          > * {
            display: inline-block;
            vertical-align: middle;
            margin: 0 .2em;
          }
        }
      }


    }

    .info {
      display: flex;
      align-items: center;

      > * {
        flex: 0 0 auto;
        padding: .2em;
      }

      > .comment {
        flex: 1 1 auto;
      }

      ::ng-deep .inplace-output {
        display: flex;
        align-items: center;

        > * {
          flex: 1 1 auto;
        }

        > i {
          flex: 0 0 auto;
          margin-right: .4em;
        }
      }
    }
  }

  > .total {
    flex: 0 0 auto;
    text-align: right;

    > .vat-inclusive {
      font-size: 1.5em;
      font-weight: bold;
    }

    > .vat-exclusive {
      display: flex;
      align-items: center;
      font-size: 0.8em;

      > * {
        flex: 0 0 auto;
        margin: 0 1em;
      }
    }
  }
}
