
.list-item-content {
  display: flex;
  align-items: center;

  > .item {
    flex: 1 1 14em;
    padding: .5em;
  }

  > .details {
    flex: 1 1 auto;
    padding: 0 .5em;

    .amounts {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      > * {
        flex: 0 0 auto;
      }


    }

    .info {
      display: flex;
      align-items: center;

      > * {
        flex: 0 0 auto;
      }

      > .comment {
        flex: 1 1 auto;
      }

      ::ng-deep .inplace-output {
        display: flex;
        align-items: center;

        > * {
          flex: 1 1 auto;
        }

        > i {
          flex: 0 0 auto;
          margin-right: .4em;
        }
      }
    }
  }

  > .total {
    flex: 0 0 auto;
    text-align: right;

    >.vat-inclusive {
      font-size: 1.5em;
      font-weight: bold;
    }
    >.vat-exclusive {
      display: flex;
      align-items: center;
      font-size: 0.8em;
      >* {
        flex: 0 0 auto;
        margin: 0 1em;
      }
    }
  }
}
