<div class="list-item-content" *ngIf="item != null && priceDetails != null">


  <div class="item">
    <cp-item-variant [ref]="item.itemVariantRef"
                     [showMainPicture]="true"
                     [showReference]="true"
                     [showItemName]="true"
                     layout="details-column"
    ></cp-item-variant>
  </div>

  <div class="details">

    <div class="amounts">
      <div class="quantity">
        <cp-shell-inplace-edit name="quantity" #quantity
                               [ngModel]="item.quantity"
                               (ngModelChange)="fireQuantityChange($event)"
        >
          <ng-template cpInplaceOutput>
            <span>{{ item.quantity }}</span>
            <span>x</span>
          </ng-template>
          <ng-template cpInplaceInput>
            <p-spinner [(ngModel)]="quantity.editValue"
                       [min]="1" [step]="1"
            ></p-spinner>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>

      <div class="vat-exclusive">
        <cp-shell-inplace-edit name="vatExclusive" #vatExclusive
                               [ngModel]="priceDetails.unitPriceVatExclusive"
                               (ngModelChange)="fireVatExclusiveChange($event)"
        >
          <ng-template cpInplaceOutput>
            <span>{{ priceDetails.unitPriceVatExclusive | currency }}</span>
            <span>htva</span>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-currency-input [(ngModel)]="vatExclusive.editValue"></cp-currency-input>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>


      <div class="discount-ratio" title="Discount ratio">
        <cp-shell-inplace-edit name="discountRatio" #discountRatio
                               [ngModel]="priceDetails.discountRatio"
                               (ngModelChange)="fireDiscountRateChange($event)"
        >
          <ng-template cpInplaceOutput>
            <i class="fa fa-sun-o" *ngIf="priceDetails.discountRatio == null"></i>
            <span *ngIf="priceDetails.discountRatio != null" class="discount-line">
              <span>-</span>
              <span>
                {{ priceDetails.discountRatio | percent }}
              </span>
              <span>discount</span>
            </span>
          </ng-template>
          <ng-template cpInplaceInput>
            <div class="percent">
              <cp-percent-input [(ngModel)]="discountRatio.editValue"></cp-percent-input>
            </div>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>


      <div class="vat-rate">
        <cp-shell-inplace-edit name="vatRate" #vatRate
                               [ngModel]="priceDetails.vatRate"
                               (ngModelChange)="fireVatRateChange($event)"
        >
          <ng-template cpInplaceOutput>
            <span>+</span>
            <span>{{ priceDetails.vatRate | percent }}</span>
            <span>tva</span>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-percent-input [(ngModel)]="vatRate.editValue"></cp-percent-input>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>

    </div>

    <div class="info">
      <div class="customer-loyalty" title="Apply customer loyalty discount">
        <cp-shell-inplace-edit name="includeCustomerLoyalty" #includeCustomerLoyalty>
          <ng-template cpInplaceOutput>
            <label for="customer-loyalty">
              <i class="fa fa-user-plus"></i>
            </label>
            <p-triStateCheckbox id="customer-loyalty"
                                [ngModel]="item.includeCustomerLoyalty"
                                (ngModelChange)="fireChanges({includeCustomerLoyalty: $event})"
            ></p-triStateCheckbox>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>

      <div class="stock">
        <cp-shell-inplace-edit name="stockRef" #stockRef
                               [ngModel]="item.stockRef"
                               (ngModelChange)="fireChanges({stockRef: $event})"
        >
          <ng-template cpInplaceOutput>
            <cp-stock [ref]="item.stockRef"
                      [showIcon]="true"
            ></cp-stock>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-stock-select [(ngModel)]="item.stockRef"></cp-stock-select>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>

      <div class="comment">
        <cp-shell-inplace-edit name="comment" #comment
                               [ngModel]="item.comment"
                               (ngModelChange)="fireChanges({comment: $event})"
        >
          <ng-template cpInplaceOutput>
            <i class="fa fa-comment-o"></i>
            <cp-locale-text [localeTexts]="item.comment"></cp-locale-text>
          </ng-template>
          <ng-template cpInplaceInput>
            <cp-locale-text-edit [(ngModel)]="comment.editValue" #commentEdit>
              <ng-template cpLocalizedEdit>
                <input type="text" pInputText
                       [(ngModel)]="commentEdit.editingTextValue"
                >
              </ng-template>
            </cp-locale-text-edit>
          </ng-template>
        </cp-shell-inplace-edit>
      </div>


    </div>
  </div>


  <div class="total">
    <div class="vat-inclusive">
      <cp-shell-inplace-edit name="totalWithVat" #totalWithVat
                             [ngModel]="priceDetails.totalVatInclusive"
                             (ngModelChange)="fireTotalVatInclusiveChange($event)"
      >
        <ng-template cpInplaceOutput>
          {{ priceDetails.totalVatInclusive | currency }}
        </ng-template>
        <ng-template cpInplaceInput>
          <cp-currency-input [(ngModel)]="totalWithVat.editValue"></cp-currency-input>
        </ng-template>
      </cp-shell-inplace-edit>
    </div>
    <div class="total-details">

    </div>
  </div>

  <div class="actions">
    <a class="remove" role="button"
       (click)="onRemoveItemClick($event)">
      <i class="fa fa-minus-circle"></i>
    </a>
  </div>


</div>
