@import '../../../styles/_forms';
@import '../../../styles/_main';

.stock-edit {

  .row {
    display: table;
    width: 100%;
    > *:not([hidden]) {
      display: table-cell;
      vertical-align: top;
      width: 49%;
      padding: .3em 1em;
    }
    .stock-edit-panel {
    }
    .item-select-panel {
      text-align: left;
    }
    .item-stock-panel {
      .header {
        margin: 0;
        background-color: lightgray;
        text-align: left;
        height: 3.5em;

        >span {
          display: inline-block;
          vertical-align: middle;
          margin: 0 .5em;
          font-size: 1.2em;

          &.stock {
            float: right;
            font-size: 1.5em;
            margin: .5em;
            font-weight: bold;
          }

          &.ref {
            font-size: .8em;
            font-family: monospace;
            text-align: left;
            max-width: 10%;
          }
        }
      }
    }
  }
}
